/* ======================================== */
/* ========  Variables  =========== */
/* ======================================== */

:root {
  --primary-color: #00295d;
  --primary-color-tint: #00367b;
  --main-color: #60e14f;
  --grey-color: #edf1d6;
  --accent: #9032dc;

  --important: #fff;
  --text-color: #eee3ec;
  --sub: #c3c3c3;
  --dark: #00295d;

  --border: rgba(195, 195, 195, 0.2);

  --gradient: -webkit-linear-gradient(191deg in hwb, #60e14f 0%, #9032dc 100%);

  --gutter-huge: 15rem;
  --gutter-large: 12rem;
  --gutter-medium: 6rem;
  --gutter-normal: 4.4rem;
  --gutter-small: 3.2rem;
  --gutter-x-small: 2.2rem;
  --gutter-xx-small: 1.6rem;
  --gutter-nano: 1rem;
  --gutter-micro: 0.5rem;

  --h1: 5.2rem;
  --h2: 2rem;
  --h3: 2.4rem;
  --h4: 2rem;
  --text: 1.8rem;
  --text-medium: 1.4rem;
  --text-small: 1.2rem;

  --max-width: 1400px;

  --radius: 12px;
}

/* ======================================== */
/* ========  Basic Setup  =========== */
/* ======================================== */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: var(--text);
}

/* ======================================== */
/* ========  Reuseable Components  =========== */
/* ======================================== */
a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

section {
  margin-bottom: var(--gutter-large);
}

h1 {
  font-size: var(--h1);
  color: var(--important);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
p {
  font-size: var(--text);
}

.secondary-btn {
  background: var(--grey-color);
  color: var(--dark);
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.primary-btn {
  background: var(--main-color);
  color: var(--dark);
  font-weight: bold;
  padding: var(--gutter-xx-small) var(--gutter-small);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
/* ======================================== */
/* ==================  Classes  ============= */
/* ======================================== */
.row {
  max-width: var(--max-width);
  margin: 0 auto;
}

.secondary-heading {
  position: relative;
}

.secondary-heading::before {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
}

.line-on-hover {
  position: relative;
  transition: all 4s ease-in-out;
  display: block;
}

.line-on-hover::after {
  content: "";
  position: absolute;
  bottom: -0.01em;
  left: 0;
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right,
    var(--main-color) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: 100% 50%;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.line-on-hover:hover::after {
  background-position: 0% 50%;
}

/* ======================================== */
/* ================  Navigation/Footer  ================ */
/* ======================================== */
nav,
footer {
  display: flex;
  align-items: center;
  padding: var(--gutter-small) var(--gutter-large);
}

nav {
  justify-content: space-between;
}

footer {
  flex-direction: column;
  gap: var(--gutter-small);
  border-top: 1px solid var(--border);
}

.nav-links ul,
.footer-links ul {
  display: flex;
  gap: var(--gutter-normal);
}

.nav-links ul li,
.footer-links ul li {
  list-style-type: none;
}

.footer-links ul li a:hover {
  color: var(--important);
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-small);
}

.footer-icons img {
  width: 35px;
}

/* ======================================== */
/* ================  Hero Section  ================ */
/* ======================================== */

.hero-section {
  height: 70vh;
  display: flex;
  align-items: center;
  background-image: url(./assets/hero-pattern.svg);
  background-repeat: no-repeat;
  /* background-position: -100px -100px; */
}

.hero-heading h1 {
  margin-bottom: var(--gutter-nano);
  line-height: 1;
}

.hero-heading p {
  margin-bottom: var(--gutter-normal);
}

.hero-heading h1 span {
  background: conic-gradient(
    from 0deg at -28% 76% in oklch,
    #60e14f 0%,
    64%,
    #9032dc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-section img {
  max-width: 600px;
}

/* ======================================== */
/* ================  Courses  ================ */
/* ======================================== */
section:has(.courses-section) {
  background-image: url(./assets/Images/courses_images/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.courses-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-medium);
}

.course-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-medium);
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background: #00367b;
  border-radius: var(--radius);
  overflow: hidden;
}

.card-img img {
  width: 100%;
}

.card-body {
  padding: var(--gutter-x-small) var(--gutter-xx-small);
}

.course-title {
  margin-bottom: var(--gutter-xx-small);
}

.card-body .course-desc {
  font-size: var(--text-medium);
  color: var(--sub);
  margin-bottom: var(--gutter-x-small);
}

.course-desc li {
  display: flex;
  gap: var(--gutter-nano);
  list-style-type: none;
  margin-bottom: var(--gutter-nano);
}

.course-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-enroll-btn {
  font-size: var(--text-medium);
  padding: var(--gutter-nano) var(--gutter-xx-small);
}

.course-price {
  font-weight: 600;
}

/* ======================================== */
/* ================  CTA  ================ */
/* ======================================== */
section:has(.secondary-cta) {
  background: url("./assets/form-bg.svg");
}
.secondary-cta {
  background-color: var(--main-color);
  color: var(--dark);
  padding: var(--gutter-normal);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-content: center;
}

.secondary-cta-heading {
  margin-bottom: var(--gutter-nano);
}

.secondary-cta form input {
  padding: var(--gutter-xx-small);
  font-size: var(--text);
  background-color: var(--grey-color);
  border: 1px solid rgb(148, 158, 214);
  outline: none;
  width: 100%;
  margin-bottom: var(--gutter-nano);
  transition: 0.1s;
}

.secondary-cta form input:focus,
.secondary-cta form input:hover {
  outline: none;
}

.secondary-cta form input:hover {
  border: 1px solid rgb(88, 96, 146);
}

.secondary-cta form input:focus {
  border: 1px solid rgb(50, 60, 117);
}

.secondary-cta form button {
  font-size: var(--text);
  padding: var(--gutter-xx-small) var(--gutter-small);
}
