/* ======================================== */
/* ========  Variables  =========== */
/* ======================================== */

:root {
  --primary-color: #3900ab;
  --primary-color-tint: #4502cc;
  --main-color: #52c843;
  --grey-color: #edf1d6;
  --accent: #9032dc;

  --important: #fff;
  --text-color: #eee3ec;
  --sub: #c3c3c3;
  --dark: #00295d;

  --border: rgba(195, 195, 195, 0.2);

  --gradient: linear-gradient(to top left, #9be15d, #39b385);
  --gradient-hover: linear-gradient(to top right, #9be15d, #39b385);

  --gutter-huge: 15rem;
  --gutter-large: 12rem;
  --gutter-medium: 6rem;
  --gutter-normal: 4.4rem;
  --gutter-small: 3.2rem;
  --gutter-x-small: 2.2rem;
  --gutter-xx-small: 1.6rem;
  --gutter-nano: 1rem;
  --gutter-micro: 0.5rem;

  --h1: 5.2rem;
  --h2: 2rem;
  --h3: 2.4rem;
  --h4: 2rem;
  --text: 1.8rem;
  --text-medium: 1.4rem;
  --text-small: 1.2rem;

  --max-width: 1400px;

  --radius: 12px;
}

/* ======================================== */
/* ========  Basic Setup  =========== */
/* ======================================== */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: var(--text);
  position: relative;
}

/* ======================================== */
/* ========  Reuseable Components  =========== */
/* ======================================== */
a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

section {
  margin-bottom: var(--gutter-large);
}

h1 {
  font-size: var(--h1);
  color: var(--important);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
p {
  font-size: var(--text);
}

.secondary-btn {
  background: var(--gradient);
  color: var(--dark);
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.primary-btn {
  background: var(--gradient);
  color: var(--dark);
  font-weight: bold;
  padding: var(--gutter-xx-small) var(--gutter-small);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.primary-btn:hover,
.secondary-btn:hover {
  background: var(--gradient-hover);
  scale: 1.02;
}

.primary-btn:focus {
  transform: scale(1);
}

.secondary-btn:focus {
  transform: scale(1);
}

.card {
  background: #4a00e0;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid var(--border);
}

/* ======================================== */
/* ==================  Classes  ============= */
/* ======================================== */
.row {
  max-width: var(--max-width);
  margin: 0 auto;
}

.secondary-heading {
  position: relative;
}

.grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gutter-xx-small);
}

.flex-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-medium);
}

.secondary-heading::before {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
}

.line-on-hover {
  position: relative;
  transition: all 4s ease-in-out;
  display: block;
}

.line-on-hover::after {
  content: "";
  position: absolute;
  bottom: -0.01em;
  left: 0;
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right,
    var(--main-color) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: 100% 50%;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.line-on-hover:hover::after {
  background-position: 0% 50%;
}

.hidden {
  display: none;
}

/* ======================================== */
/* ================  Navigation/Footer  ================ */
/* ======================================== */
nav,
footer {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-between;
  padding: var(--gutter-nano) var(--gutter-large);
}

footer {
  flex-direction: column;
  gap: var(--gutter-small);
  border-top: 1px solid var(--border);
  background: var(--primary-color-tint);
  padding: var(--gutter-small) var(--gutter-large);
}

.nav-links ul,
.footer-links ul {
  display: flex;
  gap: var(--gutter-normal);
}

.nav-links ul li,
.footer-links ul li {
  list-style-type: none;
}

.footer-links ul li a:hover {
  color: var(--important);
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-small);
}

.footer-icons img {
  width: 35px;
}

/* ======================================== */
/* ================  Hero Section  ================ */
/* ======================================== */

header {
  background: url(../assets/Images/hero/bg-pattern.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(0, 0, 0, 0.9);
}

.hero-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-heading h1 {
  margin-bottom: var(--gutter-nano);
  line-height: 0.9;
}

.hero-heading p {
  margin-bottom: var(--gutter-small);
}

.hero-heading h1 span {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* z-index: 100; */
}

.hero-section img {
  max-width: 600px;
}

/* ======================================== */
/* ================  Courses  ================ */
/* ======================================== */
section:has(.courses-section) {
  /* background-image: url(.././assets/Images/courses_images/bg.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.courses-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-medium);
}

.course-cards {
  gap: var(--gutter-normal);
}

.course-card {
  width: 300px;
}

.card-img img {
  width: 100%;
}

.card-body {
  padding: var(--gutter-x-small) var(--gutter-xx-small);
}

.course-title {
  margin-bottom: var(--gutter-xx-small);
}

.card-body .course-desc {
  font-size: var(--text-medium);
  color: var(--sub);
  margin-bottom: var(--gutter-x-small);
}

.course-desc li {
  display: flex;
  gap: var(--gutter-nano);
  list-style-type: none;
  margin-bottom: var(--gutter-nano);
}

.course-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-enroll-btn {
  font-size: var(--text-medium);
  padding: var(--gutter-nano) var(--gutter-xx-small);
}

.course-price {
  font-weight: 600;
}

/* ======================================== */
/* ================ Get Started  ================ */
/* ======================================== */

.gs-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

/* .gs-block:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
} */

/* .gs-block:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

.gs-block:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
} */

.gs-block img {
  max-width: 400px;
}

.gs-text h3 {
  margin-bottom: var(--gutter-nano);
}

.gs-text p {
  color: var(--sub);
}

/* ======================================== */
/* ================  Our services  ================ */
/* ======================================== */
.service-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-medium);
  padding: 0 var(--gutter-large);
  position: relative;
}

section:has(.service-section) {
  background: url("../assets/Images/services/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-section > img {
  position: absolute;
}

.service-card {
  padding: var(--gutter-xx-small) var(--gutter-x-small);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-card img {
  width: 60px;
  height: 60px;
  margin-bottom: var(--gutter-xx-small);
}

.service-card h4 {
  margin-bottom: var(--gutter-nano);
}

.service-card p {
  font-size: var(--text-medium);
  color: var(--sub);
  line-height: 1.4;
}

/* ======================================== */
/* ================  CTA  ================ */
/* ======================================== */
section:has(.secondary-cta) {
  background: url("../assets/form-bg.svg");
  /* background-repeat: no-repeat; */
}

.secondary-cta {
  background-color: var(--main-color);
  color: var(--dark);
  padding: var(--gutter-normal);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-content: center;
}

.secondary-cta-heading {
  margin-bottom: var(--gutter-nano);
}

form input {
  padding: var(--gutter-xx-small);
  font-size: var(--text);
  background-color: var(--grey-color);
  border: 1px solid rgb(148, 158, 214);
  outline: none;
  width: 100%;
  margin-bottom: var(--gutter-nano);
  transition: 0.1s;
}

form input:focus,
form input:hover {
  outline: none;
}

form input:hover {
  border: 1px solid rgb(88, 96, 146);
}

form input:focus {
  border: 1px solid rgb(50, 60, 117);
}

form button {
  font-size: var(--text);
  padding: var(--gutter-xx-small) var(--gutter-small);
  background: var(--grey-color);
}

/* ======================================== */
/* ================  Thank You Message  ================ */
/* ======================================== */

section:has(.overlay) {
  position: relative;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.thanks-msg {
  background-color: var(--primary-color);
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--gutter-normal);
  z-index: 1;
}

.thanks-msg img {
  position: absolute;
  top: -50px;
  right: -35px;
  cursor: pointer;
}

.thanks-msg h4 {
  margin-bottom: var(--gutter-micro);
}

.thanks-msg p {
  font-size: var(--text-medium);
}

/* ======================================== */
/* ================  Enrollment Form  ================ */
/* ======================================== */
#enrollment-form {
  /* background: var(--primary-color-tint); */
  background: var(--main-color);
  color: var(--dark);
  padding: var(--gutter-medium);
  margin: var(--gutter-large) 0;
  display: flex;
  flex-direction: column;
  gap: var(--gutter-normal);
}

#enrollment-form > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: var(--gutter-normal);
  align-items: center;
}

#enrollment-form label {
  padding-left: var(--gutter-micro);
}

#enrollment-form select {
  padding: var(--gutter-nano) var(--gutter-xx-small);
  background-color: var(--grey-color);
  font-size: var(--text);
  outline: none;
}

/* ======================================== */
/* ================  Courses Page  ================ */
/* ======================================== */
.courses-page {
  padding: var(--gutter-medium);
}
